# Import bazelrc presets
import %workspace%/tools/preset.bazelrc

########################
# Project-specific flags
# This is also a place to override settings from the presets

# Starting with Bazel 8, Windows requires this flag in order
# for symlinks to work properly (namely, so that sh_test with
# py_binary as a data dependency gets symlinks that are executable)
startup --windows_enable_symlinks
startup --noautodetect_server_javabase

common --announce_rc --show_timestamps

# Enable Bzlmod for every Bazel command
common --enable_bzlmod --noenable_workspace

# Enable Debug Fission
common --fission=yes
common --compilation_mode=dbg

# build --host_platform=@rules_nixpkgs_core//platforms:host
# common --noincompatible_disallow_empty_glob

# Turn on all the strict error checking for CC
common:linux --copt=-g3  # Add more debug stuff
common:linux --copt=-pedantic-errors

common:linux --cxxopt=-std=c++23
common:linux --cxxopt=-Weffc++
common:linux --cxxopt=-Wextra
common:linux --cxxopt=-Wconversion
common:linux --cxxopt=-Wsign-conversion
common:linux --cxxopt=-Werror

# C Options
common:linux --conlyopt=-std=c23  # Needed for c programs and not angering c++ ones

common:windows --enable_runfiles # https://github.com/bazelbuild/bazel/issues/8843

# Visual Studio 2022
## NOTE: We need to have WSL running in the background for some of the compilation process
common:windows --define compiler=vs2022
common:windows --cxxopt=/std:c++20  # Qt requires a C++17 compiler, and a suitable value for __cplusplus.
common:windows --cxxopt=/Zc:__cplusplus #  On MSVC, you must pass the /Zc:__cplusplus option to the compiler.
common:windows --cxxopt=/permissive-  # QtCore/qglobal.h(120): error C2338
common:windows --cxxopt=/Z7
common:windows --copt=-DWIN32_LEAN_AND_MEAN
common:windows --copt=-DNOGDI
common:windows --host_copt=-DWIN32_LEAN_AND_MEAN
common:windows --host_copt=-DNOGDI
common:windows --host_cxxopt=/std:c++20