# shellcheck shell=bash
NIX_DIRENV_VERSION=3.1.0
NIX_DIRENV_HASH="sha256-yMJ2OVMzrFaDPn7q8nCBZFRYpL/f0RcHzhmw/i6btJM="
if ! has nix_direnv_version || ! nix_direnv_version ${NIX_DIRENV_VERSION}; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/${NIX_DIRENV_VERSION}/direnvrc" "${NIX_DIRENV_HASH}"
fi
system="$(nix eval --impure --raw --expr 'builtins.currentSystem')"
devshell="${DIRENV_DEVSHELL:-default}"

if command -v nom &>/dev/null && [ -t 0 ]; then
  # if nom is available, build the devshell dependencies with it to get nicer
  # progress monitoring. Don't do this when stdout is piped, because it shows
  # up weird in engage.
  nom build ".#devShells.$system.$devshell"
fi

# NOTE: we need to use the flake we built
use flake ".#devShells.$system.$devshell"
# use flake
# use flake ".#$devshell"